.container {
	position: absolute;
	width: 100%;
	top:50%;
	transform:translateY(-50%);
}


textarea {

	display: block;
	margin: 0 auto;
	width:80%;
	height:30rem;
	border:10px solid gray;

}

input[type="submit"] {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
		width:30%;
		height: 5rem;
}