span.glyphicon.glyphicon-chevron-left {
content: " ";    
display:block;       
background:url('img/back_arrow.png') no-repeat;
-webkit-background-size:cover;
background-size:cover;
width:59px;
height:59px;
margin-top:-30px;
}

span.glyphicon.glyphicon-chevron-left:before {
content: " ";    
}

span.glyphicon.glyphicon-chevron-right:before {
content: " ";    
}

span.glyphicon.glyphicon-chevron-right {       
content: " ";      
display:block;     
background:url('img/forward_arrow.png') no-repeat;
-webkit-background-size:cover;
background-size:cover;
width:59px;
height:59px;
margin-top:-30px;
}

.carousel-control.left, .carousel-control.right {
background-image: none;
opacity: 1;
}

.item img {
width:100%;
}

.headerPanel {
  left: 0;
right: 0;
  margin-left: -3.75%;
margin-right: -3.75%;
min-width: 500px;
height:60px;
background-color:white;
z-index:1;
-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.21);
-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.21);
box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.21);


}

.menu {
margin-bottom:0;
position:absolute;
top:0;
line-height:60px;
right:15px;
}

.menu li {
text-transform: uppercase;
display: inline-block;
padding-left: 20px;
font-family: 'Open Sans', sans-serif;
font-weight:700;
font-size:85%;
}

.menu > li > a{
color: #969596;
text-decoration: none;
transition: color 0.2s ease;

}

.menu > li > a:hover{
color: #282528;
}

.umbrellaPic {
  background-image: url('img/logo.png');
  display:block;
  width:155px;
  height:45px;
  background-size:contain;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
top:-30px;
}

.container {
  top:3%;
  width:70%;
  position:absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.boldTitle, .regularTitle {
  display:inline-block;
  margin-top:230px;
}

.boldTitle {
  font-family: 'Open Sans', sans-serif;
font-weight:700;
font-size: 300%;
}

.regularTitle {
  font-family: 'Open Sans', sans-serif;
font-weight:400;
font-size: 300%;
}

.semibold {
    font-family: 'Open Sans', sans-serif;
font-weight:600;
font-size: 155%;
}

.regularList {
      font-family: 'Open Sans', sans-serif;
font-weight:400;
font-size: 120%;
list-style-image: url('img/list_arrow.png');
padding-left:15px;

}

.download, .viewGallery {
    width:220px;
  height:70px;
    display:inline-block;
}

.download {
  transition: background-image 0.3s ease;
  background-image:url(img/download.png);
}


.viewGallery { 
  transition: background-image 0.3s ease;
  background-image:url(img/gallery.png);
  margin-left:10px;
}

.viewGallery:hover {

  background-image:url(img/gallery_hover.png);

}

.download:hover {

  background-image:url(img/download_hover.png);

}

.iphone {
  position:absolute;
  background-image: url('..img/iphone.png');
  display:block;
  width:397.5px;
  height:481.5px;
  background-size:contain;
  background-repeat: no-repeat;


bottom:0;
right:120px;
}


.features {
   font-family: 'Open Sans', sans-serif;
font-weight:700;
font-size: 230%;
text-align: center;
margin-top:100px;
}

.featuresDesc {
     font-family: 'Open Sans', sans-serif;
font-weight:400;
font-size: 130%;
text-align: center;
margin-top:70px;
}

.static {
  position:static;
}

